body{
    margin: 0px;
}
.content{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.box{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition:flex  0.7s;
    overflow: hidden;
    /* transition-timing-function: cubic-bezier(0.13, 0.95, 0.23, 1.31);       */
    transition-timing-function: cubic-bezier(1, -1.38, 0, 0.37); 
    box-shadow: 0 0 30px #424242;
}

.box.active {
  flex: 5;
}


.box:nth-child(1){background-color: #353535}
.box:nth-child(2){background-color: #262626}
.box:nth-child(3){background-color: #232323}

.painel{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 500px;
    height: 200px;
    padding: 10px; 

    transform: translateY(-1500px);
    transition: 0.7s;
    /* transition-timing-function: cubic-bezier(0.13, 0.95, 0.23, 1.31);     */
    transition-timing-function: ease; 
    box-shadow: 0 0 30px #424242;

}

.painel.active {
  transform: translateY(50px);
  display: flex;
}

.AligitensPainel{
  height: 24px;
}
.font{
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 36px;
}

.corFinalHex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.corFinalRgb{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.75px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0.1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.4px #670100, 0px 0px 0px #810100;
  border: 0px solid #ff1e00;
  height: 24px;
  width: 23px;
  border-radius: 20px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0.1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1.4px #670100, 0px 0px 0px #810100;
  border: 0px solid #ff1e00;
  height: 24px;
  width: 23px;
  border-radius: 20px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3c4040;
  border: 0.1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #484d4d;
  border: 0.1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1.4px #670100, 0px 0px 0px #810100;
  border: 0px solid #ff1e00;
  height: 24px;
  width: 23px;
  border-radius: 20px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  height: 6.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #545a5a;
}


